/* global */
* {
  margin: 0;
  padding: 0;
}

/* nav */
.navbar-brand {
  font-size: 3.0rem;
}

/* body content layout */
body {
  font-family: Maiden Orange, sans-serif;
}

h5 {
  font-size: 1.5rem;
}

.card-img, .card-img-bottom, .card-img-top {
margin-bottom: 10px;
}

.btn img {
  width: 15px;
}

.btn {
  font-size: 1.0rem;
  border: solid black 1px;
  padding: 2px 4px;
  margin-bottom: 10px;
  background-color: rgb(226, 192, 149);
  width: 125px;
}

/* form elements */

#addFormContainer, #editFormContainer, #deleteFormContainer {
  margin: 60px 0;
}


h3 {
  font-size: 1rem;
  margin-bottom: 20px;
}

label {
  font-size: 1.25rem;
  font-style: strong;
  margin: 8px 0;
}

input[type=submit] {
  background-color: black;
  color: #fff;
  padding: 8px;
  border-color: black;
  border-width: .5px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
